@font-face {
  font-family: "Myriad Pro";
  src: url(font/myriad-pro.ttf);
  font-weight: normal;
}

@font-face {
  font-family: "Marion";
  src: url(font/marion.ttf);
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

.intro-cont {
  background: #1A1A1A;
  position: relative;
  text-align: center;
}

#background-img {
  opacity: 0.26;
  filter: alpha(opacity=26) progid:DXImageTransform.Microsoft.Alpha(opacity=26);
  width: 100%;
}

h1 {
  white-space: nowrap;
  font-family: Myriad Pro;
  font-size: 4.5em;
  color: #CCCCCC;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about-cont {
  background: #FFFEF8;

  display: flex;
  justify-content: center;
  align-items: center;
}

.proficiencies-cont {
  width: 50%;

  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
  width: 85%;
  margin: 8% 0;
  margin-left: 10%;
  margin-right: 15%;
}

li {
  margin-bottom: 5%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.proficiency-label {
  font-family: Myriad Pro;
  font-size: 1em;
  color: #333333;

  display: inline;
  width: 20%;

}

svg {
  display: inline;
  width: 80%;
  height: 38px;
}

.border-rect {
  stroke: #66949C;
  fill-opacity: 0;
  stroke-width: 5px;

  width: 100%;
  height: 100%;
}

#fill-rect-1 {
  width: 75%;

  fill: #66949C;
  fill-opacity: 1;
  height: 100%;
}

#fill-rect-2 {
  width: 85%;

  fill: #66949C;
  fill-opacity: 1;
  height: 100%;
}

#fill-rect-3 {
  width: 55%;

  fill: #66949C;
  fill-opacity: 1;
  height: 100%;
}

#fill-rect-4 {
  width: 35%;

  fill: #66949C;
  fill-opacity: 1;
  height: 100%;
}

#fill-rect-5 {
  width: 45%;

  fill: #66949C;
  fill-opacity: 1;
  height: 100%;
}

#fill-rect-6 {
  width: 65%;

  fill: #66949C;
  fill-opacity: 1;
  height: 100%;
}

.description-cont {
  width: 50%;
}

.description-cont h2 {
  font-family: Myriad Pro;
  font-size: 2.8em;
  color: #333333;

  margin-left: 15%;
  margin-right: 10%;
}

.description-cont p {
  font-family: Marion;
  font-size: 1em;
  line-height: 1.5;
  color: #333333;

  margin-left: 15%;
  margin-right: 10%;
  margin-bottom: 5px;
}

.description-cont a {
  font-family: Marion;
  font-size: 1em;
  color: #D66436;
  text-decoration: none;

  margin-left: 15%;
  margin-right: 10%;
}

.description-cont a:hover {
  text-decoration: underline;
}

.transition-cont {
  background : #666666;
  height: 13%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.transition-cont h3 {
  font-family: Myriad Pro;
  font-size: 1.5em;
  color: #111111;
}

.projects-cont {
  background-color: #333333;

  display: flex;
  justify-content: center;
}

.project {
  width: 85%;
}

.project h2 {
  font-family: Helvetica;
  font-size: 48px;
  font-weight: 200;
  color: #FFFEF8;

  padding-top: 5%;
  margin-bottom: 3%;
}

.project .images-cont {
  display: flex;
  justify-content: space-between;
}

.project .image-cont {
  flex-shrink: 1;
  width: 30%;
  height: 100%;
}

.project img {
  width: 100%;
  height: auto;
}

.project p {
  font-family: Marion;
  font-size: 24px;
  color: #7D7C7C;

  margin-top: 3%;
}

.project .accent-cont {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.project .accent {
  font-family: Myriad Pro;
  font-size: 28px;
  color: #66949C;

  margin-top: 1%;
  margin-right: 1.4em;
}

.project .button-cont {
  margin-top: 4%;
  margin-bottom: 4%;
  display: flex;
  justify-content: flex-end;
}

.button {
  font-family: Myriad Pro;
  font-size: 20px;
  white-space: nowrap;
  text-decoration: none;
  color: #FFFEF8;
  padding: 1% 2%;
  background-color: #D66436;

  margin-left: 3%;
}

.button:hover {
  background-color: #a22018;
}

.button:active {
  background-color: #8e0f43;
}

footer {
  background: #1A1A1A;
  height: 7%;
}

@media screen 
  and (min-width: 768px) 
  and (max-width: 1024px) {

.about-cont {
  background: #FFFEF8;

  display: flex;
  justify-content: center;
  align-items: center;
}

.proficiencies-cont {
  width: 50%;

  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
  width: 85%;
  margin: 12% 5%;
}

li {
  margin-bottom: 5%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.proficiency-label {
  font-family: Myriad Pro;
  font-size: 1em;
  color: #333333;

  display: inline;
  width: 20%;

}

svg {
  display: inline;
  width: 80%;
  height: 25px;
}

rect {
  stroke: #66949C;
  fill-opacity: 0;
  stroke-width: 5px;

  width: 100%;
  height: 100%;
}

.description-cont {
  width: 50%;
}

.description-cont h2 {
  font-family: Myriad Pro;
  font-size: 2.8em;
  color: #333333;

  margin-left: 5%;
  margin-right: 5%;
}

.description-cont p {
  font-family: Marion;
  font-size: 1em;
  line-height: 1.5;
  color: #333333;

  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5px;
}

.description-cont a {
  font-family: Marion;
  font-size: 1em;
  color: #D66436;
  text-decoration: none;

  margin-left: 5%;
  margin-right: 5%;
}
.project h2 {
  font-size: 2em;
}

.transition-cont {
  background : #666666;
  height: 5em;

  display: flex;
  align-items: center;
  justify-content: center;
}

.transition-cont h3 {
  font-family: Myriad Pro;
  font-size: 1.5em;
  color: #111111;
}
}

@media (max-width: 767px) {

h1 {
  font-size: 2.5em;
}

.about-cont {
  background: #FFFEF8;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.proficiencies-cont {
  width: 100%;

  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
  width: 85%;
  margin: 0 2%;
  margin-bottom: 5%;
}

li {
  margin-bottom: 5%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.proficiency-label {
  font-family: Myriad Pro;
  font-size: .8em;
  color: #333333;

  display: inline;
  width: 20%;

}

svg {
  display: inline;
  width: 80%;
  height: 25px;
}

rect {
  stroke: #66949C;
  fill-opacity: 0;
  stroke-width: 5px;

  width: 100%;
  height: 100%;
}

.description-cont {
  width: 100%;
  margin: 10% 0;
}

.description-cont h2 {
  font-family: Myriad Pro;
  font-size: 1.8em;
  color: #333333;

  margin-left: 5%;
  margin-right: 5%;
}

.description-cont p {
  font-family: Marion;
  font-size: 1em;
  line-height: 1.5;
  color: #333333;

  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5px;
}

.description-cont a {
  font-family: Marion;
  font-size: 1em;
  color: #D66436;
  text-decoration: none;

  margin-left: 5%;
  margin-right: 5%;
}

.description-cont a:hover {
  text-decoration: underline;
}

.transition-cont {
  background : #666666;
  height: 5em;

  display: flex;
  align-items: center;
  justify-content: center;
}

.transition-cont h3 {
  font-family: Myriad Pro;
  font-size: 1.2em;
  color: #111111;
}

.project {
  width: 85%;
}

.project h2 {
  font-family: Helvetica;
  font-size: 1.6em;
  font-weight: 200;
  color: #FFFEF8;

  padding-top: 5%;
  margin-bottom: 3%;
}

.project .images-cont {
  display: flex;
  justify-content: space-between;
}

.project .image-cont {
  flex-shrink: 1;
  width: 30%;
  height: 100%;
}

.project img {
  width: 100%;
  height: auto;
}

.project p {
  font-family: Marion;
  font-size: 1.2em;
  line-height: 1.5;
  color: #7D7C7C;

  margin-top: 3%;
}

.project .accent {
  font-family: Myriad Pro;
  font-size: .8em;
  color: #66949C;

  margin-top: 1%;
  margin-right: .5em;
}

.project .button-cont {
  margin-top: 4%;
  margin-bottom: 4%;
  display: flex;
  justify-content: center;
}

.button {
  font-family: Myriad Pro;
  font-size: 20px;
  white-space: nowrap;
  text-decoration: none;
  color: #FFFEF8;
  padding: .5em .8em;
  background-color: #D66436;

  margin-left: 3%;
}
}
